/* 

-Primary: #e67e22
-Tints: #fae5d3
-Shades:
-Accesnts:
-Greys: #555 #333
-Border Radious: 9px
- Fonts Weight:- Default:400 Medium:500 Bold:700 Semi-bold:600
- Line Heights: Default:1 1.05 1.6
 */

/* -----------Styling Starts ------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ---------------- Gneral & Reusable Section Starts ----------------*/

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}
.margin-right-sm {
  margin-right: 1.6rem;
}
/* -------------------- Gneral & Reusable  Section Ends ---------------------*/

/* ------------------------------ Hero Section  Starts---------------------*/
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  /* background-color: blanchedalmond; */
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}
.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.section-hero {
  background-color: #fae5d3;
  padding: 4.8rem 0 9.6rem 0;
}

.btn:link,
.btn:visited {
  background-color: #e67e22;
  font-size: 2rem;
  color: white;
  padding: 1.6rem 3.2rem;
  border-radius: 13px;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  font-weight: 600;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  transition: all 1s;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 3px white;
  transition: all 1s;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  border-radius: 50%;
  width: 4.8rem;
  margin-right: -1.6rem;
  border: 3px solid #fae5d3;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
.delivered-imgs img:last-child {
  margin: 0;
}

/* ------------------------------ Hero Section Ends ---------------------*/

/* ------------------------------ Header Section Starts ---------------------*/

.logo {
  height: 2.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/* ------------------------------ Header Section Ends ---------------------*/

/*-------------------- Navigation Section Starts---------------------------- */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: 1.8rem;
  transition: 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: white;
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* ----------------- Section How Starts */
.section-how {
  background-color: #cf711f;
  padding: 9.6rem 0;
}

.section-how div {
  padding: 100px;
  font-size: 50px;
}
.grid {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
}

.section-how div:nth-child(1) {
  background-color: aqua;
}
.section-how div:nth-child(2) {
  background-color: rgb(98, 20, 63);
}
.section-how div:nth-child(3) {
  background-color: rgb(98, 199, 26);
}
.section-how div:nth-child(4) {
  background-color: rgb(220, 77, 16);
}

/* ----------------- Section How Ends */
